* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@font-face {
  font-family: 'Caviar Dreams';
  src: url('/fonts/caviar_dreams/CaviarDreams.ttf');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Caviar Dreams Bold';
  src: url('/fonts/caviar_dreams/CaviarDreams_Bold.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
.modalBg {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.pulse-button {
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #b4302677;
  animation: pulse 0.5s infinite;
}
.pulse-button:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

.floating {
  -webkit-transform: translatey(0px);
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}
@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

.chakra-modal__content-container {
  z-index: 10000;
}
.radioBox:hover + div,
.radioBox:active + div,
.radioBox:checked + div {
  background-position: left center !important;
}
.chakra-toast,
.chakra-toast__inner {
  pointer-events: none !important;
}
.textToast {
  font-size: 12px;
}
.text12 {
  font-size: 5px;
}
.text18 {
  font-size: 9px;
}
.text20 {
  font-size: 10px;
}
.text22 {
  font-size: 13px;
}
.img20 {
  width: 13px;
  height: 13px;
  padding: 2px;
}

.textBack {
  font-size: 18px;
}

.textButton {
  font-size: 13px;
}
@media (min-width: 400px) {
  .text12 {
    font-size: 5px;
  }
  .text18 {
    font-size: 11px;
  }
  .text20 {
    font-size: 12px;
  }
  .text22 {
    font-size: 15px;
  }
}
@media (min-width: 500px) {
  .text12 {
    font-size: 6px;
  }
  .text18 {
    font-size: 13px;
  }
  .text20 {
    font-size: 14px;
  }
  .text22 {
    font-size: 17px;
  }
}
@media (min-width: 600px) {
  .text12 {
    font-size: 8px;
  }
  .text18 {
    font-size: 15px;
  }
  .text20 {
    font-size: 17px;
  }
  .text22 {
    font-size: 20px;
  }
}

@media (min-width: 412px) {
  .textToast {
    font-size: 16px;
  }
  .img20 {
    width: 18.2px;
    height: 18.2px;
    padding: 2px;
  }
  .textButton {
    font-size: 16px;
  }
}
@media (min-width: 494px) {
  .textToast {
    font-size: 17px;
  }
  .img20 {
    width: 22.1px;
    height: 22.1px;
    padding: 3px;
  }
  .textButton {
    font-size: 19px;
  }
}
@media (min-width: 576px) {
  .textToast {
    font-size: 18px;
  }
  .img20 {
    width: 26px;
    height: 26px;
    padding: 4px;
  }
  .textButton {
    font-size: 20px;
  }
}

@media (min-width: 800px) {
  .text12 {
    font-size: 11px;
  }
  .text18 {
    font-size: 18px;
  }
  .text20 {
    font-size: 20px;
  }
  .textBack {
    font-size: 20px;
  }
  .text22 {
    font-size: 23px;
  }
  .textButton {
    font-size: 20px;
  }
}

.textMetal {
  font-size: 4.5vw;
}
.textMetal2 {
  font-size: 5.5vw;
}
@media (min-width: 546px) {
  .textMetal {
    font-size: 27px;
  }
  .textMetal2 {
    font-size: 30px;
  }
}

@media (min-width: 375px) {
  .textHeading {
    font-size: 20px !important;
  }
}
@media (min-width: 472px) {
  .textHeading {
    font-size: 28px !important;
  }
}
.theButton {
  height: 20vh;
  width: 20vh;
}
@media (min-height: 680px) {
  .theButton {
    width: 140px;
    height: 140px;
  }
}

#chakra-toast-manager-top-right li:nth-child(1) div div {
  visibility: visible !important;
}
@media (min-height: 490px) {
  #chakra-toast-manager-top-right li:nth-child(2) div div {
    visibility: visible !important;
  }
}
@media (min-height: 740px) {
  #chakra-toast-manager-top-right li:nth-child(3) div div {
    visibility: visible !important;
  }
}

.kachel2 {
  margin: 0.25rem;
  transition: 0.5s;
}

.kachel1 {
  width: 140px;
  height: 140px;
}

.kachel2.flipped {
  margin-left: 70px;
  margin-right: -70px;
}

@media (min-width: 405px) {
  .kachel2 {
    margin: 1rem;
  }

  .kachel1 {
    width: 160px;
    height: 160px;
  }

  .kachel2.flipped {
    margin-left: 80px;
    margin-right: -80px;
  }
}
.kachel2.flipped {
  z-index: 1;
}

.shaking {
  animation: shake 200ms 2 linear;
}

@keyframes shake {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  12.5% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  37.5% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  62.5% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  75% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.h100 {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  /*height: -webkit-fill-available;*/
}
.t98 {
  top: 98vh;
  top: calc(var(--vh, 1vh) * 98);
}
.t85 {
  top: 85vh;
  top: calc(var(--vh, 1vh) * 85);
}
.t77 {
  top: 77vh;
  top: calc(var(--vh, 1vh) * 77);
}
.t50 {
  top: 50vh;
  top: calc(var(--vh, 1vh) * 50);
}
.t45 {
  top: 45vh;
  top: calc(var(--vh, 1vh) * 45);
}
.t40 {
  top: 40vh;
  top: calc(var(--vh, 1vh) * 40);
}
.t20 {
  top: 20vh;
  top: calc(var(--vh, 1vh) * 20);
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  background: #ffffff33;
  transition: 0.5s;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: left center;
}

.kachel2.flipped .container .card {
  -webkit-transform: translateY(00%) rotateY(-180deg);
  -moz-transform: translateY(00%) rotateY(-180deg);
  -ms-transform: translateY(00%) rotateY(-180deg);
  -o-transform: translateY(00%) rotateY(-180deg);
  transform: translateY(00%) rotateY(-180deg);
}
.card figure {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 140px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card .front {
  margin: 0;
}

.card .back {
  background: #ffffff33;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  margin: 0;
}

.cardOut {
  /*
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  */
  opacity: 0;
}

.sideButton {
  height: 31.5px !important;
  width: 54px !important;
  margin-right: 3vw !important;
  font-size: 11px !important;
  margin-top: -15.75px !important;
}
@media (min-width: 390px) {
  .sideButton {
    height: 35px !important;
    width: 60px !important;
    margin-right: 3vw !important;
    font-size: 12px !important;
    margin-top: -17.5px !important;
  }
}
@media (min-width: 420px) {
  .sideButton {
    margin-right: 8vw !important;
  }
}
@media (min-width: 520px) {
  .sideButton {
    width: 72px !important;
    height: 42.2px !important;
    margin-right: 8vw !important;
    font-size: 14px !important;
    margin-top: -21.1px !important;
  }
}
@media (min-width: 800px) {
  .sideButton {
    width: 80px !important;
    height: 70px !important;
    margin-right: 13vw !important;
    font-size: 16px !important;
    margin-top: -35px !important;
  }
}
