@font-face {
  font-family: 'Caviar Dreams';
  src: url('/fonts/caviar_dreams/CaviarDreams.ttf');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

.chakra-modal__content-container {
  z-index: 10000;
}
.radioBox:hover + div,
.radioBox:active + div,
.radioBox:checked + div {
  background-position: left center !important;
}
.radioBox:checked + div {
  box-shadow: 0 0px 0px 4px rgba(0, 0, 0, 1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}
.chakra-toast,
.chakra-toast__inner {
  pointer-events: none !important;
}
/*
@keyframes float {
  0% {
    transform: translateZ(20px) translateY(10px);
  }
  100% {
    transform: translateY(-11px) translateX(-13px) translateZ(30px);
  }
}
*/

.text12 {
  font-size: 5px;
}
.text18 {
  font-size: 9px;
}
.text20 {
  font-size: 10px;
}

@media (min-width: 400px) {
  .text12 {
    font-size: 5px;
  }
  .text18 {
    font-size: 11px;
  }
  .text20 {
    font-size: 12px;
  }
}
@media (min-width: 500px) {
  .text12 {
    font-size: 6px;
  }
  .text18 {
    font-size: 13px;
  }
  .text20 {
    font-size: 14px;
  }
}
@media (min-width: 600px) {
  .text12 {
    font-size: 8px;
  }
  .text18 {
    font-size: 15px;
  }
  .text20 {
    font-size: 17px;
  }
}

@media (min-width: 800px) {
  .text12 {
    font-size: 11px;
  }
  .text18 {
    font-size: 18px;
  }
  .text20 {
    font-size: 20px;
  }
}

.textMetal {
  font-size: 5vw;
}
.textMetal2 {
  font-size: 5.5vw;
}
@media (min-width: 546px) {
  .textMetal {
    font-size: 30px;
  }
  .textMetal2 {
    font-size: 30px;
  }
}

.theButton {
  height: 20vh;
  width: 20vh;
}
@media (min-height: 680px) {
  .theButton {
    width: 140px;
    height: 140px;
  }
}

#chakra-toast-manager-top-right li:nth-child(1) div div {
  visibility: visible !important;
}
@media (min-height: 666px) {
  #chakra-toast-manager-top-right li:nth-child(2) div div {
    visibility: visible !important;
  }
}
@media (min-height: 911px) {
  #chakra-toast-manager-top-right li:nth-child(3) div div {
    visibility: visible !important;
  }
}
